/* header */
.header {
    background-color: #ffffff;
    position: fixed;
    top: 0px;
    height: 100px;
    width: 100%;
    z-index: 2;
    border-bottom: #cccccc solid 2px;
    margin-bottom: 250px;
   
}

#name {
    background-color: #4aaaa5; 
    position: fixed;
    padding: 21px;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    float: left;
    margin-left: 16%;
    margin-top: 33px;
    z-index: 3;
   overflow: hidden;
}

/* navbar */
.navbar { 
    position: relative;
    padding-top: 40px;
    margin-right: 17%;
    z-index: 3;
    list-style-type: none;
    float: right;
    color: #cccccc ; 
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }

  .navbar  li {
      float: right;
      position: relative;
      z-index: 3;
      list-style-type: none;
     
  }

  .navbar a {
    text-decoration: none;
    padding: 10px;
    color: #777777; 
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: small;
    letter-spacing: 1px;
    }

/*navbar-border in navbar is a different color than font*/
    .navborder {
        color: #cccccc;
    }


/* background/general */
body {
    background-image: url("../images/concrete-texture.png");
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    z-index:-1;    
    margin: 0px;
}
#bodytitle {
    padding: -3px;
    padding-bottom: 15px;
    color:#4aaaa5;
    border-bottom: #dddddd solid 2px; margin: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
    
 /*index css*/ 
.wrapper {
    background-color: #ffffff;
    margin-top: 140px;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-left: 16%;
    color: #777777; 
    max-width: 960px;
    z-index: 4;
}

img {
    float: left;
    margin-left: 20px;
    margin-right: 18px;
    margin-top: 8px;

}

.aboutme {
    text-align: left;
    line-height: 1.6;
    margin-left: 18px;
    margin-right: 50px;
    padding: 0px;
}
/* Portfolio CSS */

.wrapperportfolio {  
    background-color: #ffffff;
    height: 800px;
    margin-top: 140px;
    padding-top: 15px;
    padding-bottom: 50px;
    margin-bottom: 100px;
    margin-left: 16%;
    max-width: 960px;
    z-index: 4;
    color: white; 
    text-align: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.column {
    float: left;
    width: 33.3%;
    padding: 5px;
}

.row1::after { 
    content: "";
    clear: both;
     display: table; 
}

.hangmanbox {
    position: relative;
}

#hangmantext {
    position: absolute;
    line-height:2.5;
    background-color: #4aaaa5;
    text-align: center;
    bottom: -229px;
    width: 250px;
    left: 13px;
    font-weight: normal;
    
}

.rpggamebox {
    position: relative;
}

#rpggametext {
    position: absolute;
    line-height:2.5;
    background-color: #4aaaa5;
    text-align: center;
    bottom: -229px;
    width: 250px;
    left: 13px;
    font-weight:normal;
}

.triviabox {
    position: relative;
}

#triviatext {
    position: absolute;
    line-height:2.5;
    background-color: #4aaaa5;
    text-align: center;
    width: 250px;
    left: 13px;
    font-weight:normal;
    bottom: -229px;
}

.rutgersbox {
    position: relative;
}

#rutgerstext {
     position: absolute;
    line-height:2.5;
    background-color: #4aaaa5;
    text-align: center;
    width: 250px;
    left: 13px;
    font-weight:normal;
    bottom: -229px;
}

.rockpaperbox {
    position: relative;
    
}

#rockpapertext {
    position: absolute;
    line-height:2.5;
    background-color: #4aaaa5;
    text-align: center;
    width: 250px;
    left: 13px;
    font-weight:normal;
    bottom: -229px;

}

/* Contact CSS */

.wrappercontact {  
    background-color: #ffffff;
    height: 800px;
    margin-top: 140px;
    padding-top: 15px;
    padding-bottom: -150px;
    margin-bottom:  200px;
    margin-left: 16%;
    max-width: 960px;
    z-index: 4;
    color: #777777;
    border-color: #dddddd;
    text-align: left;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.formformat{
       margin-left: 16px;
       margin-right: 16px;

}

input[type=text] {
    padding-left: 8px;
    padding-top:5px;
    padding-bottom: 5px;
    font-size: normal;
    color: #777777;
}

.contactfields input {
    margin-top: 8px;
    margin-bottom: 14px; 
    width: 98.3%;
    height: 20px;
    display: inline-block;
    
    
    }

textarea {
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 98.3%;
    border-color:#dddddd;
        
     }

#message {
    color: #777777;
    padding-top: 2px;
    padding-bottom: 10px;
    margin: 0px;

}

button {
    background-color: #4aaaa5;
    color:white;
    border: none;
    text-align: center;
    padding: 10px 25px;
    font-size: 16px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-top: 10px;

}
  


/* footer */
.footer {
    border-top: solid #4aaaa5 5px;
    background-color:#666666;
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #dddddd; /*changed the color to white b/c the general text color is too dark for the footer*/v
}




/* 960pxwide for content width, overall page is 877 x400.531 (wxh) per Chrome dev */



/*Continuing Issues
Copyright wrong color
My nav switched order? Reversed order in HTML to display correctly in browser
My picture borders are opposite of ex!*/